<div class="juego-tres-container">
  <div *ngIf="preguntaActual">
    <h1 class="tematica">
      {{ contadorPregunta }}° {{ preguntaActual.pregunta }}
    </h1>
    <img class="imagen-api" [src]="preguntaActual.imagenUrl" />
    <div class="opciones">
      <div *ngFor="let opcion of preguntaActual.opciones; let i = index">
        <button
          class="btn"
          (click)="seleccionarOpcion(i)"
          [disabled]="opcionesSeleccionadas[i]"
        >
          {{ i + 1 }}. {{ opcion }}
        </button>
      </div>
    </div>
  </div>
  <div class="card label-puntaje">
    <label>Puntaje<br />{{ puntaje }}</label>
  </div>
</div>
