.juego-tres-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: calc(100vh - 58px);
  width: 100%;
  background: linear-gradient(
    6deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(101, 101, 101, 1) 90%
  );
}

.tematica {
  margin-top: 4px;
}

.imagen-api {
  height: 350px;
  width: 100%;
  border-radius: 25px;
  margin-top: 10px;
  background-color: #202020;
  border: solid 2px #ffffff;
}

.opciones {
  display: flex;
  flex-direction: row; /* Cambiado de column a row */
  justify-content: center;
  align-items: center;
}

.btn {
  background-color: #202020;
  color: white;
  border: solid 2px #ffffff;
  margin: 10px;
  width: 200px;
  height: 100px;
}

.puntaje {
  margin-top: 10px;
}

.label-puntaje {
  display: flex;
  justify-content: center;
  position: fixed;
  top: 10%;
  right: 2%;
  text-align: center;
  height: 70px;
  width: 125px;
  color: #ffffff;
  border: solid 2px #ffffff;
  background-color: #202020;
}

.spinner {
  width: 60px;
  height: 60px;
  border: 5px solid grey;
  border-bottom-color: #202020;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotacion 1s linear infinite;
}
@keyframes rotacion {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
