<div class="container-fluid">
  <div class="row">
    <!-- barra lateral izquierda -->
    <nav class="col-md-2 bg-dark" style="height: calc(100vh - 54px); width: 150px;">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <!-- <a href="#" class="btn text-white" style="margin-top: 10px;" routerLink="info-usuario">Informacion Usuario</a>
          <div class="separator"></div> separador
          -->
          <a href="#" class="btn text-white" style="margin-top: 10px;" routerLink="juego-uno">Juego 1</a>
          <div class="separator"></div> <!-- separador -->
          <a href="#" class="btn text-white" routerLink="juego-dos">Juego 2</a>
          <div class="separator"></div> <!-- separador -->
          <a href="#" class="btn text-white" routerLink="juego-tres">Juego 3</a>
          <div class="separator"></div> <!-- separador -->
          <a href="#" class="btn text-white" routerLink="juego-cuatro">Juego 4</a>
        </ul>
      </div>
    </nav>
    <!-- contenido principal -->
    <main role="main" class="col-md-10 ml-sm-auto col-lg-10 px-4">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>