<div class="pantalla">
  <div class="container">
    <div style="position: relative">
      <img class="imagen-alumno" src="../../../assets/alumno-foto.png" />
    </div>

    <h1 class="alumno">Juan Pablo Dongo Huaman</h1>
    <h1 class="curso">Laboratorio IV - TP01 "Sala de Juegos"</h1>
    <h1 class="propio">Juego Propio</h1>
    <h1 class="juego">Desafío de Predicción de Dados</h1>
    <h1 class="descripcion">
      "Adivina el resultado de cada dado". Selecciona un número para cada dado y
      gana puntos por cada predicción acertada.
    </h1>
  </div>
</div>
