.quien-soy-container {
  height: calc(100vh - 58px);
  background: linear-gradient(
    6deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(101, 101, 101, 1) 90%
  );
}

.imagen-alumno {
  margin-top: 150px;
  width: 225px;
  height: 225px;
  border-radius: 50%;
}

.nombre {
  color: #333;
  font-size: 80px;
}

.curso,
.juego {
  color: #555;
}

.juego {
  font-size: 70px;
}

.pendiente {
  color: red;
  font-size: 60px;
}
