<div class="container d-flex justify-content-center align-items-center">
  <div class="text-center" style="width: 700px; height: 200px">
    <div style="position: relative">
      <!-- círculo -->
      <div
        class="rounded-circle bg-secondary"
        style="width: 125px; height: 125px; margin: 0 auto"
      ></div>
      <!-- imagen -->
      <img
        src="../../../assets/alumno-foto.png"
        alt="Imagen"
        style="
          position: absolute;
          bottom: 0;
          left: 50%;
          transform: translateX(-50%);
          width: 125px;
          height: 125px;
          border-radius: 50%;
        "
      />
    </div>
    <!-- textos -->
    <h1 class="nombre">Juan Pablo Dongo Huaman</h1>
    <h2 class="curso">Laboratorio IV - TP01 "Sala de Juegos"</h2>
    <h2 class="juego">Juego Propio</h2>
    <h1 class="pendiente">Pendiente...</h1>
  </div>
</div>
