.pantalla {
  height: calc(100vh - 58px);
  background: linear-gradient(
    6deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(101, 101, 101, 1) 90%
  );
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.imagen-alumno {
  margin-top: 50%;
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.alumno {
  color: #333;
  font-size: 60px;
}

.curso {
  color: #555;
  font-size: 30px;
}

.propio {
  margin-top: 40px;
  color: #333;
  font-size: 30px;
}

.juego {
  color: #555;
  font-size: 35px;
}

.descripcion {
  color: #333;
  font-size: 30px;
  max-width: 700px;
}
