<div class="quien-soy-container">
  <div class="d-flex justify-content-center align-items-center">
    <div class="text-center">
      <div style="position: relative">
        <!-- imagen -->
        <img
          src="../../../assets/alumno-foto.png"
          alt="Imagen"
          class="imagen-alumno"
        />
      </div>
      <!-- textos -->
      <h1 class="nombre">Juan Pablo Dongo Huaman</h1>
      <h2 class="curso">Laboratorio IV - TP01 "Sala de Juegos"</h2>
      <h2 class="juego">Juego Propio</h2>
      <h1 class="pendiente">Pendiente...</h1>
    </div>
  </div>
</div>
