<div class="container-fluid bg-secondary" style="height: 54px;">
  <div class="row">
    <!-- izquierda -->
    <div class="m-1 col d-flex justify-content-start align-items-center">
      <a href="#" class="btn text-white" style="margin-right: 26px; margin-left: 26px;" routerLink="home/info-usuario">Home</a>
      <div class="separator"></div> <!-- separador -->
      <a href="#" class="btn text-white" routerLink="quiensoy">¿Quien soy?</a>
    </div>

    <!-- centro -->
    <div class="m-1 col d-flex justify-content-center align-items-center">
      <!-- por si se me ocurre algo en el centro -->
    </div>
    
    <!-- derecha -->
    <div class="m-1 col d-flex justify-content-end align-items-center">
      <button type="button" class="btn btn-dark" routerLink="login">Iniciar Sesion</button>
      <button type="button" class="btn btn-dark" style="margin-left: 8px;" (click)="saludar('Cerrar sesion saluda')">Cerrar Sesion</button>
      <button type="button" class="btn btn-dark" style="margin-left: 8px;" routerLink="registro">Registrarse</button>
      <div class="separator"></div> <!-- separador -->
      <div class="rounded-circle bg-dark" style="width: 45px; height: 45px; background-image: url('https://i.imgur.com/MYLWqOg.png'); background-size: cover; background-position: center;"></div>
    </div>
  </div>
</div>
<router-outlet />
<!-- https://bbbootstrap.com/snippets/navigation-bar-brand-logo-and-name-39723760 -->
