<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card p-4">
        <div class="card-body">
          <h5 class="card-title text-center mb-4">Iniciar Sesion</h5>
          <form>
            <!--Input email-->
            <div class="mb-3">
              <input
                type="email"
                class="form-control"
                id="email"
                placeholder="Ingrese su email"
                [(ngModel)]="email"
                name="email"
              />
            </div>
            <!--Input contraseña-->
            <div class="mb-3">
              <input
                type="password"
                class="form-control"
                id="clave"
                placeholder="Ingrese su contraseña"
                [(ngModel)]="clave"
                name="clave"
              />
            </div>
            <!--Boton inciar sesion-->
            <div class="text-center">
              <button
                type="submit"
                class="btn text-white bg-dark w-100"
                (click)="iniciarSesion()"
              >
                Iniciar Sesion
              </button>
            </div>
            <!--Label para cambiar de ruta-->
            <div class="text-center mt-3">
              <a href="#" class="form-label" routerLink="/registrar"
                >¿No tenes una cuenta? Registrate aqui.</a
              >
            </div>
            <!--Botones cargar usuarios-->
            <div class="text-center mt-3">
              <button
                class="btn text-white bg-dark w-100"
                (click)="cargarUsuario(1)"
              >
                Usuario 1
              </button>
            </div>

            <div class="text-center mt-3">
              <button
                class="btn text-white bg-dark w-100"
                (click)="cargarUsuario(2)"
              >
                Usuario 2
              </button>
            </div>

            <div class="text-center mt-3">
              <button
                class="btn text-white bg-dark w-100"
                (click)="cargarUsuario(3)"
              >
                Usuario 3
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
