<div class="juego-dos-container">
  <!-- Cartas -->
  <div class="cartas-container">
    <!-- Mazo -->
    <div class="card">
      <h2 class="text-center">Mazo</h2>
      <h2 class="text-center">{{ baraja.length }}</h2>
    </div>

    <!-- Carta anterior -->
    <div class="card">
      <h2 *ngIf="cartaAnterior === 0" class="text-center">Carta Anterior</h2>
      <img *ngIf="cartaAnterior > 0" [src]="getPathCarta(cartaAnterior)" />
      <!--
      <h2 class="text-center">{{ cartaAnterior }}</h2>
      -->
    </div>

    <!-- Carta actual -->
    <div class="card">
      <h2 *ngIf="cartaActual === 0" class="text-center">Carta Actual</h2>
      <img *ngIf="cartaActual > 0" [src]="getPathCarta(cartaActual)" />
      <!--
      <h2 class="text-center">{{ cartaActual }}</h2>
      -->
    </div>
  </div>

  <!-- Botones de seleccion -->
  <div class="buttons-container">
    <button
      type="button"
      class="btn btn-primary"
      [disabled]="!estaDetenido"
      (click)="empezarJuego()"
    >
      Iniciar Juego
    </button>
    <button
      type="button"
      class="btn btn-primary"
      [disabled]="estaDetenido || seleccionoCarta"
      (click)="seleccionarMenor()"
    >
      Menor
    </button>
    <button
      type="button"
      class="btn btn-primary"
      [disabled]="estaDetenido || seleccionoCarta"
      (click)="seleccionarMayor()"
    >
      Mayor
    </button>
  </div>

  <!-- Informacion del puntaje y tiempo -->
  <div class="card label-puntaje">
    <label>Puntaje {{ puntaje }}</label>
    <label *ngIf="!estaDetenido"
      >Tiempo restante {{ tiempoRestante }} segundos</label
    >
  </div>
</div>
