<div class="chat-button" *ngIf="!estadoMostrar">
  <button class="btn btn-success" (click)="mostrarChat()">Mostrar Chat</button>
</div>

<div class="chat-container card text-center" *ngIf="estadoMostrar">
  <!-- Boton para cerrar chat -->
  <div class="card-header">
    Chat
    <button class="btn btn-danger" (click)="ocultarChat()">X</button>
  </div>

  <!-- Historial del chat -->
  <div class="card-body">
    <div id="mensajes-container" class="mensajes-container">
      <div
        class="mensaje"
        *ngFor="let mensaje of listaMensajes"
        [ngClass]="{
          'mensaje-enviado': emailUsuario === mensaje.emisor,
          'mensaje-recibido': emailUsuario !== mensaje.emisor
        }"
      >
        <div class="mensaje-contenido">
          <span class="mensaje-informacion"
            >{{ mensaje.emisor }}<br />
            {{ mensaje.fechaEnvio | date : "dd/MM/yyyy HH:mm" }}</span
          >
          <p class="mensaje-texto">{{ mensaje.texto }}</p>
        </div>
      </div>
    </div>
  </div>

  <!-- Input de mensaje -->
  <div class="card-footer">
    <input
      type="text"
      class="form-control"
      placeholder="Ingresa tu mensaje"
      [(ngModel)]="inputMensaje"
      (keydown.enter)="enviarMensaje()"
    />
    <button class="btn btn-success" (click)="enviarMensaje()">Enviar</button>
  </div>
</div>
